In [1]:
%pip install --upgrade "numpy<2.0"

Requirement already satisfied: numpy<2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd

In [18]:
from nba_api.stats.endpoints import playercareerstats

# Nikola Jokić
career = playercareerstats.PlayerCareerStats(player_id='203999') 

career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203999,2015-16,00,1610612743,DEN,21.0,80,55,1733,307,...,0.811,181,379,560,189,79,50,104,208,796
1,203999,2016-17,00,1610612743,DEN,22.0,73,59,2038,494,...,0.825,212,506,718,359,61,55,171,214,1221
2,203999,2017-18,00,1610612743,DEN,23.0,75,73,2443,504,...,0.850,195,608,803,458,90,61,210,212,1385
3,203999,2018-19,00,1610612743,DEN,24.0,80,80,2504,616,...,0.821,228,637,865,580,108,55,248,228,1604
4,203999,2019-20,00,1610612743,DEN,25.0,73,73,2335,565,...,0.817,166,545,711,512,85,44,226,222,1456
5,203999,2020-21,00,1610612743,DEN,26.0,72,72,2488,732,...,0.868,205,575,780,599,95,48,222,192,1898
6,203999,2021-22,00,1610612743,DEN,27.0,74,74,2476,764,...,0.810,206,813,1019,584,109,63,281,191,2004
7,203999,2022-23,00,1610612743,DEN,28.0,69,69,2323,646,...,0.822,167,650,817,678,87,47,247,174,1690
8,203999,2023-24,00,1610612743,DEN,29.0,79,79,2737,822,...,0.817,223,753,976,708,108,68,237,194,2085
9,203999,2024-25,00,1610612743,DEN,30.0,70,70,2571,786,...,0.800,200,692,892,716,127,45,230,160,2071

In [22]:
from nba_api.stats.endpoints import players

# 1. Fetch the master lists
players_list = players.get_players()
teams_list   = teams.get_teams()

# 2. Turn them into lookup dicts
player_lookup = {p['id']: p['full_name'] for p in players_list}
team_lookup   = {t['id']: t['full_name'] for t in teams_list}

# 3. Given your box‐score DataFrame df with columns PLAYER_ID and TEAM_ID:
df['PLAYER_NAME'] = df['PLAYER_ID'].map(player_lookup)
df['TEAM_NAME']   = df['TEAM_ID'].map(team_lookup)

# 4. Inspect
print(df[['PLAYER_ID','PLAYER_NAME','TEAM_ID','TEAM_NAME']].head())

ImportError: cannot import name 'players' from 'nba_api.stats.endpoints' (/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/nba_api/stats/endpoints/__init__.py)

In [43]:
from nba_api.live.nba.endpoints import scoreboard
import pandas as pd

# 1. Fetch the raw dict
sc = scoreboard.ScoreBoard()
data = sc.get_dict()   # ← returns a Python dict of the full JSON :contentReference[oaicite:0]{index=0}

# 2. Extract just the list of games
games_list = data['scoreboard']['games']

# 3. Flatten into a DataFrame
df = pd.json_normalize(games_list)

# 4. Inspect
print(df.head())

       gameId         gameCode  gameStatus gameStatusText  period gameClock  \
0  0042400226  20250515/OKCDEN           3          Final       4

            gameTimeUTC                gameEt  regulationPeriods  ifNecessary  \
0  2025-05-16T00:30:00Z  2025-05-15T20:30:00Z                  4        False

   ... gameLeaders.awayLeaders.jerseyNum gameLeaders.awayLeaders.position  \
0  ...                                 2                                G

  gameLeaders.awayLeaders.teamTricode gameLeaders.awayLeaders.playerSlug  \
0                                 OKC                               None

  gameLeaders.awayLeaders.points gameLeaders.awayLeaders.rebounds  \
0                             32                                3

  gameLeaders.awayLeaders.assists  pbOdds.team  pbOdds.odds pbOdds.suspended
0                               6         None          0.0                0

[1 rows x 61 columns]